/***
Stylesheet for the travelrequest pdf print
 */

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');*/

:root{
    --font-color: black;
}

@page{
    size:A4;
    margin:0 0 3cm 0;

    @top-left{
        content:element(header);
    }
}

body{
    margin:0;
    padding:1cm 2cm;
    color:var(--font-color);
    font-size:12pt;
}

a{
    color:inherit;
    text-decoration:none;
}

hr{
    margin:1cm 0;
    height:0;
    border:0;
    border-top:1mm solid var(--highlight-color);
}

header{
    height:3.4cm;
    position:running(header);
}

header .logoAndName{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:1.5cm;
    height:1.5cm;
    /*margin-right:.5cm;*/
    margin-bottom:.5cm;
}

header h1,
header h2,
header h3,
header p{
    margin:0;
}

header h2,
header h3{
    text-transform:uppercase;
}

main table{
    width:100%;
    border-collapse:collapse;
}

req table{
    width:100%;
    border-collapse:collapse;
}

main table thead th{
    border-bottom: 1px solid;
}

main table thead th:nth-of-type(2),
main table thead th:nth-of-type(3),
main table thead th:last-of-type{
    width:2.5cm;
}

main table tbody td{
    padding:2mm 0;
}

main table thead th:last-of-type,
main table tbody td:last-of-type{
    text-align:right;
}

req table thead th:last-of-type,
req table tbody td:last-of-type{
    text-align:right;
}

main table th{
    text-align:left;
}

req table th{
    text-align:left;
}
